<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Resistive NN Emulator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
  </head>

  <body>
    <label for="image">Current Image:</label>
    <canvas id="image" width="28" height="28" style="width:280px; height:280px;"></canvas>

    <br>

    <label>Current Image Tag: <a>{{ image_tag }}</a> </label>

    <br>

    <label>Predicted Image Tag: <a>{{ predict_image_tag }}</a> </label>

    <br>

    <label>Prediction Result: <a>{{ result }}</a> </label>

    <br>

    <label>Image Upload:</label>

    <br>

    <input class="file" id="img_upload" name="img_upload" type='file' />

    <br>

    <button id="submit_img">Upload</button>

    <br>

    <label>Uploaded Image:</label>

    <br>

    <canvas id="img_submitted" width="28" height="28" style="width:280px; height:280px;"></canvas>


    <script>
      $(document).ready(function(){
        // draw the current image onto the webpage
          $.get("/get_current_image", function(result){

            var result = JSON.parse(result);

            ctx = $("#image")[0].getContext('2d');

            // create imageData object
            var img_data = ctx.createImageData(28, 28);

            var i;

            for (i = 0; i <img_data.data.length; i += 4) {
              img_data.data[i+0] = result[i/4] * 255;
              img_data.data[i+1] = result[i/4] * 255;
              img_data.data[i+2] = result[i/4] * 255;
              img_data.data[i+3] = 255;
            }

            // update canvas with new data
            ctx.putImageData(img_data, 0, 0);

          });

          $("#submit_img").click(function(){
            const up_img = $("#img_upload").prop('files')[0];

            var img = new Image();

            ctx = $("#img_submitted")[0].getContext('2d');

            img.onload = function() {
              ctx.drawImage(img,0,0,28,28);

              var ctx_data = ctx.getImageData(0, 0, 28, 28).data;

              var img_data = [];

              var i;
              for (i = 0; i < 3136; i += 4) {
                var pixel_data = Math.round(parseFloat(ctx_data[i]) / 255.0 * 1E6) / 1E6;
                img_data.push(pixel_data);
              }

              console.log(img_data);
            };

            img.src = URL.createObjectURL(up_img);
          });
      });

    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
  </body>

</html>
