<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Resistive NN Emulator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  </head>

  <body>
    <nav class="navbar navbar-light bg-light">
      <span class="navbar-brand mb-0 h1">Neural Network Resistive Hardware Accelerator</span>
      <a class="nav-link" href="/draw" target="_blank">Draw</a>
    </nav>

    <div style="margin:25px">

      <h5>Current Image:</h5>

      <br>

      <canvas id="image" width="28" height="28" style="width:280px; height:280px;"></canvas>

    </div>

    <!-- <br>

    <label>Current Image Tag: <a>{{ image_tag }}</a> </label> -->

    <!-- <br> -->

    <div style="margin:25px">

      <label>Predicted Image Tag: <span class="badge badge-warning">{{ predict_image_tag }}</span></label> <br>
      <label>Measured Voltage: <span class="badge badge-warning">{{ measured_voltage }}</span></label> <br>
      <label>Probability of Each Class: <span class="badge badge-warning">{{ probability }}</span></label>

    </div>

    <!-- <br>

    <label>Prediction Result: <a>{{ result }}</a> </label> -->

    <!-- <br>

    <label>Image Upload:</label> -->

    <!-- <br> -->

    <!-- <input class="file" id="img_upload" name="img_upload" type='file' /> -->

    <div style="margin:25px">

      <br>

      <span id="new_image_span" style="display:none">

        <h5 id="nh5">New Image:</h5>

        <br>

        <canvas id="img_submitted" width="28" height="28" style="width:280px; height:280px;"></canvas>

      </span>

      <br>

      <label class="btn btn-secondary btn-sm" style="margin: 0">
        Browse Files <input type="file" id="img_upload" name="img_upload" hidden>
      </label>

      <button id="submit_img" class="btn btn-primary btn-sm">
        <span id="btn_text">Upload</span>
        <span class="spinner-border spinner-border-sm" id="spinner" hidden></span>
      </button>

    </div>

    <!-- <br> -->


    <script>
      $(document).ready(function(){
        // draw the current image onto the webpage
          $.get("/get_current_image", function(result){

            var result = JSON.parse(result);

            ctx = $("#image")[0].getContext('2d');

            // create imageData object
            var img_data = ctx.createImageData(28, 28);

            var i;

            for (i = 0; i <img_data.data.length; i += 4) {
              img_data.data[i+0] = result[i/4] * 255;
              img_data.data[i+1] = result[i/4] * 255;
              img_data.data[i+2] = result[i/4] * 255;
              img_data.data[i+3] = 255;
            }

            // update canvas with new data
            ctx.putImageData(img_data, 0, 0);

          });

          $("#submit_img").click(function(){
            $('#spinner').removeAttr('hidden');
            // $('#nh5').removeAttr('hidden');
            // $('#img_submitted').removeAttr('hidden');
            $('#new_image_span').show(250);

            $('#btn_text').html('Sending Image to MCU')

            const up_img = $("#img_upload").prop('files')[0];

            var img = new Image();

            ctx = $("#img_submitted")[0].getContext('2d');

            img.onload = function() {
              ctx.drawImage(img,0,0,28,28);

              var ctx_data = ctx.getImageData(0, 0, 28, 28).data;

              var img_data = [];

              var i;
              for (i = 0; i < 3136; i += 4) {
                var pixel_data = Math.round(parseFloat(ctx_data[i]) / 255.0 * 1E6) / 1E6;
                img_data.push(pixel_data);
              }

              var post_data = {"img_data" : JSON.stringify(img_data)};
              console.log(post_data);

              $.post("/upload_image", post_data, function(result){
                console.log(result);
                $.get("/transmit_img_H2D", function(res) {
                  console.log(res);
                  location.reload();
                });
              });
            };

            img.src = URL.createObjectURL(up_img);
          });
      });

    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
  </body>

</html>
